/* body {
 
} */

.container {
  background-color: rgb(228, 188, 124);
  max-width: 40%;
}

input {
  width: 100%;
  border: none;
}

table tr {
  border: none;
}

.data-collection {
  overflow-x: auto;
}

.table-wrapper {
  width: 100%;
}

.table {
  width: 100%;
 table-layout: fixed;
 word-wrap:break-word;
}

/* @media (max-width: 768px) {
  .table {
    display: block;
    overflow-x: auto;
  }

  .table td,
  .table th {
    white-space: nowrap;
    word-wrap: break-word;
  }
} */

@media only screen and (max-width: 768px) {
  .container {
    max-width: 100%;
    font-size: 0.7em;
  }
}
