body {
  background-image: url("./components/img.jpg");
  overflow: hidden;
}

.container {
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 40%;
  font-size: large;
  color: white;
  max-height: 87vh;
}

input {
  width: 100%;
  border: none;
}

.hourly {
  border-top: 5px solid white;
}

.table-container {
  max-height: 390px; /* Adjust the max height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
}
.table-container::-webkit-scrollbar {
  display: none;
}
.table {
  text-align: center;
  width: 100%;
  table-layout: fixed;
  word-wrap: break-word;
  color: white;
}

.headpart {
  position: sticky;
  top: 0;
  background-color: white;
  color: rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 1283px) {
  .container {
    max-width: 55%;
    font-size: medium;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    font-size: 0.7rem;
  }
}
